{% extends 'base.html.twig' %}

{% block title %} La Ferme des Vernois{% endblock %}

{% block body %}
    <section class="about mb-16">
        <div class="w-75 mx-auto">
            <h2 class="text-center mb-5">La Ferme des Vernois</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa est facilis harum nesciunt
                repellat,
                sunt.
                Culpa exercitationem facere laborum quis soluta? Ducimus error fugiat itaque libero magnam possimus sed?
                Asperiores aut inventore ratione! Accusantium ad aperiam atque autem corporis dignissimos dolor dolorem
                doloremque eveniet excepturi facere facilis harum illum incidunt itaque magnam molestiae nemo neque
                nobis
                odit
                possimus qui reprehenderit sapiente sed similique sint sit suscipit tempore velit veniam, voluptate
                voluptatem
                voluptatibus voluptatum. Architecto cum, dignissimos eos inventore non numquam optio quisquam similique
                sint
                tempore vel velit veritatis? Architecto asperiores autem consequuntur corporis cupiditate debitis
                distinctio
                dolore dolorem doloribus dolorum earum facere facilis, harum hic in ipsum itaque modi necessitatibus
                nemo
                nesciunt nisi nobis non odio officiis optio porro quos rem reprehenderit sapiente similique soluta unde
                veniam
                vero. Atque autem, consequuntur, debitis dolore eius fuga impedit iure necessitatibus neque nisi nostrum
                possimus reprehenderit sed sint sit ullam vitae voluptatem!
            </p>
        </div>
    </section>

    <section class="animals mb-16">
        <div class="items-about w-50 mx-auto">
            <h2 class="text-center mb-5">Nos Animaux :</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias aliquam dolor eum ex exercitationem
                harum iste minima nesciunt pariatur provident quidem quos tempora tenetur voluptatibus. Debitis deleniti
                sequi voluptatem! Dolore doloribus ea ipsum? Adipisci atque aut corporis eligendi explicabo facilis id
                illum
                ipsam iste laudantium molestias nisi, porro possimus praesentium ratione repudiandae sed tempora,
                voluptas.
                A aliquam aliquid commodi delectus excepturi, illo illum incidunt ipsa iste natus necessitatibus nulla,
                quas
                quia reiciendis repudiandae sed ullam? Cum ea exercitationem neque nihil. Accusamus ad at atque cum
                cumque
                cupiditate delectus dolore dolorem expedita harum incidunt iste, itaque magni nihil non nostrum odio
                optio
                placeat provident quasi qui rem, repellendus sequi sit sunt tempora ut voluptatem. Aperiam corporis
                earum
                error eum, natus neque obcaecati perferendis quis rerum sint ut velit. A earum fugiat incidunt nisi non
                perspiciatis quae quisquam sapiente sequi voluptate? Aspernatur dolorem est excepturi in ipsam maiores
                natus
                nihil qui.
            </p>
        </div>
    </section>

    <section class="meadow mb-16">
        <div class="items-about w-50 mx-auto">
            <h2 class="text-center mb-5">Nos Prairies :</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias aliquam dolor eum ex exercitationem
                harum iste minima nesciunt pariatur provident quidem quos tempora tenetur voluptatibus. Debitis deleniti
                sequi voluptatem! Dolore doloribus ea ipsum? Adipisci atque aut corporis eligendi explicabo facilis id
                illum
                ipsam iste laudantium molestias nisi, porro possimus praesentium ratione repudiandae sed tempora,
                voluptas.
                A aliquam aliquid commodi delectus excepturi, illo illum incidunt ipsa iste natus necessitatibus nulla,
                quas
                quia reiciendis repudiandae sed ullam? Cum ea exercitationem neque nihil. Accusamus ad at atque cum
                cumque
                cupiditate delectus dolore dolorem expedita harum incidunt iste, itaque magni nihil non nostrum odio
                optio.
            </p>
        </div>
    </section>

    <section>
        <div class="flex flex-row">
            <img src="{{ asset('build/images/PhotoBoutique.png') }}" alt="" width="50%">
            <img src="{{ asset('build/images/20210227_093212.jpg') }}" alt="" width="50%">
        </div>
    </section>

{% endblock %}



