{% extends 'base.html.twig' %}

{% block title %} La Ferme des Vernois{% endblock %}

{% block body %}
    <div class="ferme"></div>
    <section class="about mb-16">
        <div class="w-75 mx-auto">
            <h2 class="text-center mb-5 title">La Ferme des Vernois :</h2>
            <div class="content mx-auto">
                <p>
                    <strong>Notre principal objectif : Vendre notre production localement et en direct pour recréer un lien
                        <br>entre agriculteur et consommateur.</strong>
                </p>
                    <p>
                    La ferme se situe au cœur de la Haute –Saône (70) à Breurey Les Faverney, à 20 minutes de Luxeuil
                        <br>Les Bains et à 20 minutes de Vesoul. <br>
                    C’est une ferme familiale qui existe depuis les années 1976, qui propose de la viande de bœuf, <br>
                        de veau, et d’agneaux. Elle respecte l’environnement et le bien-être animal.
                    </p>

                   <p> Certifiée en Agriculture Biologique depuis 2015.<br>
                       Certifiée Haute Valeur Environnementale depuis 2021.<br>
                       Labélisée Bœuf Comtois depuis 2019.
                   </p>
            </div>
        </div>
    </section>

    <section class="animals mb-16">
        <div class="items-about mx-auto item-animals">
            <h2 class="text-center mb-5 title">Nos Animaux :</h2>
            <p class="text-left">
                Les bovins, sont de race CHAROLAISES. <br>
                Les ovins sont de race TEXEL, inscrit au registre OSON TEXEL. <br>
                Les chevaux sont de race TRAIT COMTOIS. <br>
                Les bovins, les ovins et les équins sont nourris essentiellement à 'herbe <br>
                (pâturage en été et foin et luzerne bio en hiver).
                Les veaux sont élevés sous la mère, ils boivent le lait de leurs mères jusqu’à <br>
                l’âge de 8 mois. Ensuite ils seront sevrés et mis au pâturage.
                Notre ferme n’utilise ni pesticides, ni engrais chimiques, ni antibiotiques, <br>
                ni OGM et les animaux grandissent en plein air.
                Conforme à ses valeurs, la ferme exerce une méthode naturelle de soin. <br>
                Le traitement de l'élevage est basé sur une approche préventive de santé afin <br>
                d'éviter toute prise de traitement médicamenteux.
                De plus, nos animaux sont soignés par homéopathie, phytothérapie <br>
                et allopathie s’il le faut.
                Le parasitisme est gérer par un pâturage mixte entre les chevaux, <br>
                les moutons et les vaches.
                Le chien de conduite du troupeau (Border Collie) est un véritable atout <br>
                dans le travail de tous les jours pour le déplacement des bovins et des ovins <br>
                sans provoquer de stress des animaux.
            </p>
        </div>
    </section>

    <section class="meat mb-16 mx-auto">
        <div class="mx-auto item-meat">
                <h2 class="text-center mb-5 title">La viande :</h2>
                <p class="">
                   La production fourragère biologique aboutit à une viande plus saine, moins grasse et à une qualité meilleure des
                   <br>
                   graisses, à la fois sur la teneur en acides gras polyinsaturés.
                   <br>
                   Nos animaux sont transportés à l’abattoir de Luxeuil Les Bains à 20 km de la ferme, ou ils sont découpés et
                   transformés puis distribués sur la ferme. Les bêtes sont abattues de manière traditionnelle avec étourdissement,
                   sans aide chimique.
                   <br>
                   Les veaux sont abattus entre 8 et 13 mois, ce qui donne une viande très tendre et rosée.
                   <br>
                   Les agneaux sont abattus entre 4 et 5 mois.
               </p>
               <p>
                   Les différents types de viandes : de bœuf, de veau et d’agneau. En ce qui concerne les veaux, ce sont des veaux
                   broutard élevé de façon à ce que sa viande soit la plus tendre et la plus savoureuse possible. Il en va, bien
                   évidemment, pour la viande de bœuf et d’agneau. Et pour la plus grande satisfaction des consommateurs,
                   différentes pièces de viande sont proposées comme les côtes, les escalopes et bien d’autres encore.
                   <br>
                   La viande est sans aucun doute l’un des éléments essentiels d’un bon repas. Et les véritables amateurs savent qu’il
                   <br>
                   n’y a rien de mieux qu’une viande de bonne qualité directement acquise chez les éleveurs.
               </p>
        </div>
    </section>

    <section class="fruit mb-16">
        <div class="mx-auto item-fruit">
            <h2 class="text-center mb-5 title">Les fruits certifiés en AB :</h2>
                <p>
                    Des produits de saison frais, de qualité et ayant du goût. Les fruits sont cueillis tous les jours, et vendus immédiatement
                    au magasin de la ferme.
                </p>
                <p>
                    MIRABELLES, QUETCHES BIO: Cueillis dans nos vergers de juillet, aout à septembre.
                </p>
                <p>
                    NOISETTES BIO: Vente direct de noisettes, entières ou décortiquées toute l’année.

                </p>
            </div>
    </section>


    <section class="surface mb-16">
        <div class="item-surface">
            <div class="bg-surface">
                <h2 class="text-center mb-5 title">Les surfaces :</h2>
                <p>
                    100% HERBE : La surface totale de l’exploitation est en prairies naturelles pour le
                    pâturage des animaux et pour la récolte de fourrage. Production  de
                    foin, de regain, de luzerne pour l’alimentation des animaux. Le pâturage naturel pour élever les animaux dans le respect  des normes de l’agriculture biologique.
                    <br>
                    Nos surfaces sont couvertes d’arbres fruitiers, les fruits seront récoltés pour la vente directe. <br>
                    Nos clôtures sont essentiellement des haies entretenues. Une valeur agro-écologique qui a une importance pour l’agriculture et la biodiversité, elles jouent un rôle de brise vent, sert d’abri pour le troupeau, permet de limiter l’érosion des sols.
                    <br>
                    L’apport de fertilisants est uniquement constitué de matière organique provenant du fumier de nos aires paillées.
                </p>
            </div>
        </div>
        <div class="fleur">
            <img src="{{ asset('build/images/fleur.png') }}" alt="image de fleur">
        </div>
    </section>

    <section class="mb-16">
        <div class="chalet">
            <div class="bout-int">
                <img src="{{ asset('build/images/boutique-int.jpg') }}" alt="interieur du chalet">
            </div>
            <div class="bout-ext">
                <img src="{{ asset('build/images/PhotoBoutique.png') }}" alt="exterieur du chalet">
            </div>
        </div>
    </section>

    <section class="boutique mb-16">
        <div class="item-boutique">
            <h2 class="text-center mb-5 title">Le Chalet de la vente direct :</h2>
            <p>
                    Pour vous permettre de retirer vos colis, notre ferme vous accueille
                    le vendredi  et le samedi de chaque date de livraison :
                </p>
            <div class="horaire">
                <div class="text">
                    <p>
                        Le Vendredi:
                    </p>
                    <p class="light">
                        de 16h00 à 18h00
                    </p>
                    <p>
                        Le Samedi:
                    </p>
                    <p class="light">
                        de 10h00 à 12h00
                    </p>
                    <p>
                        LA FERME :
                    </p>
                    <p class="light">
                        Chemin de la Creusotte
                        70160 Breurey-lès-Faverney
                    </p>
                    <p>
                        tel : 07 81 36 35 75
                    </p>
                </div>
                <img src="{{ asset('build/images/boutiqueforme.png') }}" alt="image de fleur">
            </div>
        </div>
    </section>

{% endblock %}



