{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
    <h2 class="text-center">Notre Galerie photo:</h2>
    <div class="row container">
        {% for gallery in gallerys %}
            <div class="col">
                <div class="item-image">
                    <img src="{{ asset('/uploads/images/'~gallery.title) | imagine_filter('squared_thumbnail_gallery') }}" alt="{{ gallery.alt }}">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}