{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Page d'accueil</h1>
    <div class="row">
        {% include 'partials/_card.html.twig' %}
    </div>

{% endblock %}