{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="main">
        <h1 class="text-center my-4">Page d'accueil</h1>
    </div>


    {% include 'partials/_actuality.html.twig' %}

{% endblock %}