{% extends 'base.html.twig' %}

{% block body %}

    <div class="img-product"></div>
    <h2 class="text-center my-4">{{ product.title }}</h2>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/addcart.js') }}"></script>
{% endblock %}

{% block title %}
    {{ product.title }}
{% endblock %}


