{% extends 'base.html.twig' %}

{% block body %}
    <div class="img-product"></div>
    <div class="container all-product-content">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center my-4">Nos Produits : </h1>
                <div class="row">
                    {% include 'partials/_card.html.twig' %}
                </div>
                <div class="d-flex justify-content-center">
                    {{ knp_pagination_render(products, 'partials/_pagination.html.twig') }}
                </div>
            </div>
            <div class="col-md-2 sidebar-product">
                <div class="sidebar-product-content">
                    <p class="my-4">Produits:</p>
                    <hr>
                    <ul>
                        {% for categorie in categories %}
                            <li>- <a href="{{ path('app_category', {slug: categorie.slug}) }}">{{ categorie.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title 'Tout nos produits' %}



