{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-4">Tout nos produits</h1>
    <div class="row">
        {% include 'partials/_card.html.twig' %}
    </div>{% endblock %}

{% block title 'Tout nos produits'%}



