{% for product in products %}

    <div class="card-container">
        <div class="card">

        </div>
    </div>

{% endfor %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ asset('js/addcart.js') }}"></script>