<div class="footer-bottom">
    <div class="img-footer"></div>
    <footer class="footer">
        <div class="footer-text">
            <p> ©2021 La Ferme des Vernois.</p>
        </div>
    </footer>
</div>
