@import "variable";

.cart-content {
  h2 {
    text-align: center;
  }

  h3 {
    color: $text-nav !important;
    font-family: Calibri, sans-serif !important;
    font-weight: bold;
    font-size: 30px;
    padding: 2em 0;
  }

  button {
    border: none;
    background: none;
    width: 250px;

    span img {
      width: 250px;
      margin: auto;
    }
  }


  .table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    tr.border_bottom {
      border-bottom: 2px solid rgba(94, 107, 116, 0.4);
      margin: 2rem 0;
    }

    tr.border_top {
      border-top: 2px solid rgba(94, 107, 116, 0.4);
    }

    tr.Result, td.Result {
      text-align: right;
      font-weight: bold;
    }

    tr.result-title, td.result-title {
      font-size: 20px;
    }

    tr {
      margin-bottom: 1em;
      height: auto;

      .prod-table {
        width: 38%;
      }

      .result {
        text-align: center;
        font-weight: bold;
      }

      td, th {
        color: $text-nav;
        padding: 15px;
        text-align: center;
      }

      td {
        a .remove, a .add {
          width: 20px;
        }
      }

      th img {
        padding-right: 1em;
      }
    }
  }
}
@media screen and (max-width: 1390px) {
  .cart-content {
    .table {
      width: 90%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .cart-content {
    .table {
      width: 100%;
    }
  }
}

@media screen and (max-width: 776px) {
  .cart-content {
    .table {
      tr.result-title, td.result-title {
        font-size: 16px;
      }

      tr {
        .prod-table {
          width: auto;
        }

        td, th {
          padding: 5px;
          font-size: 12px;
        }

        td {
          a .remove, a .add, a .delete {
            width: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .cart-content {
    .table {
    }
  }
}
