.tableau {
  display: grid;
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
}
tr.divider{
  width: 100%;
  display: block;
  border-top: 2px solid rgba(94, 107, 116, 0.4);
  border-bottom: 2px solid rgba(94, 107, 116, 0.4);
}

td, th {
  color: $text-nav;
  padding: 15px;
}
.product-img{
  width: 20%;
}
.prod-price{
  width: 10%;
}
.prod-pound{
  width: 10%;
}
.prod-title{
  width: 40%;
}
.prod-ico-pan{
  width: 15%;
}
p.text-commande{
  margin: 5% 10%;
  font-size: 36px;
  line-height: 44px;
  text-decoration: underline;
}
.cat-title{
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #28CE3F;
}
.link-panier{
  color: #28CE3F;
  text-decoration: none;
  font-size: 16px;
}
.none-product{
  color: orangered;
  font-size: 16px;
}
@media (max-width: 780px) {
  .table{
    overflow-x: auto !important;
  }

  p.text-commande{
    font-size: 26px;
    line-height: 34px;
  }
}