h2{
  margin-top: 8rem !important;
}

.contact{
  width: 250px;
  margin-top: 2rem;
}
.btn-link{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
fieldset{
  border: none;
}
select{
  margin-bottom: 0.5rem;
  box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.5);
}

input,textarea{
  box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.5);
}