h2{
  margin-top: 8rem !important;
}

.contact{
  width: 250px;
  margin-top: 2rem;
}
.btn-link{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
fieldset{
  border: none;
}
select{
  margin-bottom: 0.5rem;
  box-shadow: 3px 3px 11px #bcc2d4, -3px -3px 11px #e6eeff;
}

input,textarea{
  box-shadow: 3px 3px 11px #bcc2d4, -3px -3px 11px #e6eeff;
}