h2{
  margin-top: 8rem !important;
}

.contact{
  width: 250px;
  margin-top: 2rem;
}
.btn-link{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
fieldset{
  border: none;
}
select{
  margin-bottom: 0.5rem;
}