// Default config CSS

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  padding-bottom: 25rem;
}

ol, ul {
  list-style: none;
  text-decoration: none;
}

// Start Margin Top

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.50rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-13 {
  margin-top: 3.25rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-15 {
  margin-top: 3.75rem;
}

.mt-16 {
  margin-top: 4rem;
}

// End Margin Top

// Start Margin Bottom

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.50rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-13 {
  margin-bottom: 3.25rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-15 {
  margin-bottom: 3.75rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

// End Margin Bottom

// Start Margin Left

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: .25rem;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-3 {
  margin-left: .75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.50rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.ml-12 {
  margin-left: 3rem;
}

.ml-13 {
  margin-left: 3.25rem;
}

.ml-14 {
  margin-left: 3.5rem;
}

.ml-15 {
  margin-left: 3.75rem;
}

.ml-16 {
  margin-left: 4rem;
}

// End Margin Left

// Start Margin Right

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: .25rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mr-3 {
  margin-right: .75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.50rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.mr-11 {
  margin-right: 2.75rem;
}

.mr-12 {
  margin-right: 3rem;
}

.mr-13 {
  margin-right: 3.25rem;
}

.mr-14 {
  margin-right: 3.5rem;
}

.mr-15 {
  margin-right: 3.75rem;
}

.mr-16 {
  margin-right: 4rem;
}

// End Margin Right

// Start Margin Top + Bottom

.my-auto {
  margin: auto 0;
}

.my-0 {
  margin: 0 0;
}

.my-1 {
  margin: .25rem 0;
}

.my-2 {
  margin: .5rem 0;
}

.my-3 {
  margin: .75rem 0;
}

.my-4 {
  margin: 1rem 0;
}

.my-5 {
  margin: 1.25rem 0;
}

.my-6 {
  margin: 1.5rem 0;
}

.my-7 {
  margin: 1.75rem 0;
}

.my-8 {
  margin: 2rem 0;
}

.my-9 {
  margin: 2.25rem 0;
}

.my-10 {
  margin: 2.5rem 0;
}

.my-11 {
  margin: 2.75rem 0;
}

.my-12 {
  margin: 3rem 0;
}

.my-13 {
  margin: 3.25rem 0;
}

.my-14 {
  margin: 3.5rem 0;
}

.my-15 {
  margin: 3.75rem 0;
}

.my-16 {
  margin: 4rem 0;
}

// End Margin Top + Bottom

// Start Margin Left + Right

.mx-auto {
  margin: 0 auto;
}

.mx-0 {
  margin: 0 0;
}

.mx-1 {
  margin: 0 .25rem;
}

.mx-2 {
  margin: 0 .5rem;
}

.mx-3 {
  margin: 0 .75rem;
}

.mx-4 {
  margin: 0 1rem;
}

.mx-5 {
  margin: 0 1.25rem;
}

.mx-6 {
  margin: 0 1.5rem;
}

.mx-7 {
  margin: 0 1.75rem;
}

.mx-8 {
  margin: 0 2rem;
}

.mx-9 {
  margin: 0 2.25rem;
}

.mx-10 {
  margin: 0 2.5rem;
}

.mx-11 {
  margin: 0 2.75rem;
}

.mx-12 {
  margin: 0 3rem;
}

.mx-13 {
  margin: 0 3.25rem;
}

.mx-14 {
  margin: 0 3.5rem;
}

.mx-15 {
  margin: 0 3.75rem;
}

.mx-16 {
  margin: 0 4rem;
}

// End Margin Left + Right

// Start Padding Top

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: .25rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pt-3 {
  padding-top: .75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.50rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-13 {
  padding-top: 3.25rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-15 {
  padding-top: 3.75rem;
}

.pt-16 {
  padding-top: 4rem;
}

// End Padding Top

// Start Padding Bottom

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: .25rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pb-3 {
  padding-bottom: .75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.50rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-13 {
  padding-bottom: 3.25rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.pb-15 {
  padding-bottom: 3.75rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

// End Padding Bottom

// Start Padding Left

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: .25rem;
}

.pl-2 {
  padding-left: .5rem;
}

.pl-3 {
  padding-left: .75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.50rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-11 {
  padding-left: 2.75rem;
}

.pl-12 {
  padding-left: 3rem;
}

.pl-13 {
  padding-left: 3.25rem;
}

.pl-14 {
  padding-left: 3.5rem;
}

.pl-15 {
  padding-left: 3.75rem;
}

.pl-16 {
  padding-left: 4rem;
}

// End Padding Left

// Start Padding Right

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: .25rem;
}

.pr-2 {
  padding-right: .5rem;
}

.pr-3 {
  padding-right: .75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.50rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.pr-12 {
  padding-right: 3rem;
}

.pr-13 {
  padding-right: 3.25rem;
}

.pr-14 {
  padding-right: 3.5rem;
}

.pr-15 {
  padding-right: 3.75rem;
}

.pr-16 {
  padding-right: 4rem;
}

// End Padding Right

// Start Padding Top + Bottom

.py-0 {
  padding: 0 0;
}

.py-1 {
  padding: .25rem 0;
}

.py-2 {
  padding: .5rem 0;
}

.py-3 {
  padding: .75rem 0;
}

.py-4 {
  padding: 1rem 0;
}

.py-5 {
  padding: 1.25rem 0;
}

.py-6 {
  padding: 1.5rem 0;
}

.py-7 {
  padding: 1.75rem 0;
}

.py-8 {
  padding: 2rem 0;
}

.py-9 {
  padding: 2.25rem 0;
}

.py-10 {
  padding: 2.5rem 0;
}

.py-11 {
  padding: 2.75rem 0;
}

.py-12 {
  padding: 3rem 0;
}

.py-13 {
  padding: 3.25rem 0;
}

.py-14 {
  padding: 3.5rem 0;
}

.py-15 {
  padding: 3.75rem 0;
}

.py-16 {
  padding: 4rem 0;
}

// End Padding Top + Bottom

// Start Padding Left + Right

.px-0 {
  padding: 0 0;
}

.px-1 {
  padding: 0 .25rem;
}

.px-2 {
  padding: 0 .5rem;
}

.px-3 {
  padding: 0 .75rem;
}

.px-4 {
  padding: 0 1rem;
}

.px-5 {
  padding: 0 1.25rem;
}

.px-6 {
  padding: 0 1.5rem;
}

.px-7 {
  padding: 0 1.75rem;
}

.px-8 {
  padding: 0 2rem;
}

.px-9 {
  padding: 0 2.25rem;
}

.px-10 {
  padding: 0 2.5rem;
}

.px-11 {
  padding: 0 2.75rem;
}

.px-12 {
  padding: 0 3rem;
}

.px-13 {
  padding: 0 3.25rem;
}

.px-14 {
  padding: 0 3.5rem;
}

.px-15 {
  padding: 0 3.75rem;
}

.px-16 {
  padding: 0 4rem;
}

// End Padding Left + Right

// Start Display

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.hidden {
  display: none;
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.flex-col-reverse {
  flex-direction: column-reverse
}

// End Display

// Start Align + Justify Content/Items

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.content-center {
  align-content: center
}

.content-start {
  align-content: flex-start
}

.content-end {
  align-content: flex-end
}

.content-between {
  align-content: space-between
}

.content-around {
  align-content: space-around
}

.content-evenly {
  align-content: space-evenly
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.justify-evenly {
  justify-content: space-evenly
}

.justify-items-start {
  justify-items: start
}

.justify-items-end {
  justify-items: end
}

.justify-items-center {
  justify-items: center
}

.justify-items-stretch {
  justify-items: stretch
}

// End Align + Justify Content/Items

// Start Opacity

.opacity-0 {
  opacity: 0
}

.opacity-5 {
  opacity: .05
}

.opacity-10 {
  opacity: .1
}

.opacity-20 {
  opacity: .2
}

.opacity-25 {
  opacity: .25
}

.opacity-30 {
  opacity: .3
}

.opacity-40 {
  opacity: .4
}

.opacity-50 {
  opacity: .5
}

.opacity-60 {
  opacity: .6
}

.opacity-70 {
  opacity: .7
}

.opacity-75 {
  opacity: .75
}

.opacity-80 {
  opacity: .8
}

.opacity-90 {
  opacity: .9
}

.opacity-95 {
  opacity: .95
}

.opacity-100 {
  opacity: 1
}

// End Opacity

// Start Text

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-justify {
  text-align: justify
}

.text-transparent {
  color: transparent
}

// End Text

// Start Z-Index

.z-0 {
  z-index: 0
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.z-30 {
  z-index: 30
}

.z-40 {
  z-index: 40
}

.z-50 {
  z-index: 50
}

.z-auto {
  z-index: auto
}

// End Z-Index

// Start Width + Height

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

// End Width + Height

// Start Button

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  //padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn:focus, .btn:hover {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success.focus, .btn-success:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00
}

.btn-warning.focus, .btn-warning:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500
}

.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130
}

.btn-danger.focus, .btn-danger:focus {
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545
}

.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d
}

.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-perso {
  width: 15%;
}

// End Button

// Start Alert

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb
}

.alert-success hr {
  border-top-color: #b1dfbb
}

.alert-success .alert-link {
  color: #0b2e13
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba
}

.alert-warning hr {
  border-top-color: #ffe8a1
}

.alert-warning .alert-link {
  color: #533f03
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb
}

.alert-danger hr {
  border-top-color: #f1b0b7
}

.alert-danger .alert-link {
  color: #491217
}

// End Alert