.footer-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer{
  width: 100%;
  height: 50px;
  background-color: #28ce3f;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-text{
    text-align: center;
    color: #fff;
    a {
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.img-footer {
  width: 100%;
  height: 400px;
  background: center no-repeat url(../images/footer.png);
  z-index: 1;
}

