@import "variable";

div .main {
  top: 0;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background: url(../images/acceuil_header.jpg) no-repeat center;
}

div .sign {
  flex-wrap: wrap;
  margin: -23vh auto 0 auto;

  .sign-text {
    margin-right: 10px;
  }
}

//Image flash-----------------
.new-delivery {
  background: center no-repeat url("../images/arrivage.png");
  width: 50%;
  height: 568px;
  margin: auto auto;

  .content-flash {
    h2 {
      text-align: center;
      margin-top: 10px;
      font-size: 3rem;
      color: #E40017;
    }

    .flash-txt {
      width: 95%;
      flex-wrap: wrap;

      img {
        width: 100%;
      }

      h1 {
        font-size: 3rem;
      }

      p {
        color: #E40017;
        margin-left: 2rem;
        font-size: 26px;
        line-height: 2;
        padding-right: 4rem;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .new-delivery .content-flash .flash-txt .img-actu {
    display: flex;
    justify-content: center;

    img {
      width: 50%;
    }
  }
}

@media screen and (max-width: 960px) {
  .new-delivery .content-flash .flash-txt {
    justify-content: center;

    .img-actu {
      display: flex !important;
      justify-content: center !important;
    }

    img {
      width: 40%;
    }

    .mt-15 {
      margin-top: 0 !important;
    }
  }
}

@media screen and (max-width: 800px) {
  .new-delivery {
    //background: 10% center no-repeat url("../images/arrivage.png");
    background:  center no-repeat url("../images/arrivage.png");
    height: auto;

    .content-flash {
      h2 {
        font-size: 40px;
      }
    }

    .flash-txt {
      img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .new-delivery .content-flash {
    h2 {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .new-delivery {
    width: 100%;
    height: auto;

    .content-flash .flash-txt p {
      font-size: 18px;
    }
  }
}

//------------------------

.home-about {
  width: 100%;
  flex-wrap: wrap;
  margin: 5em auto;

  .home-about-txt {
    width: 42%;
    text-align: justify;
    margin-top: 1em;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: 1em;
      font-size: 3rem;
    }

    a {
      width: 250px;
      margin: auto;

      img {
        width: 250px;
      }
    }
  }

  .home-about-img {
    width: 42%;

    img {
      padding-left: 4em;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1057px) {
  .home-about .home-about-txt a {
    width: 200px;

    img {
      width: 200px;
    }
  }
}

@media screen and (max-width: 750px) {
  .home-about .home-about-txt a {
    width: 150px;

    img {
      width: 150px;
    }
  }
}

@media screen and (max-width: 800px) {
  .home-about {
    flex-direction: column;
    align-items: center;

    .home-about-img {
      width: auto;

      img {
        order: 1;
        width: 300px;
        padding: 0;
      }
    }

    .home-about-txt {
      order: 2;
      width: 80%;
    }
  }
}

//--------------------------
.product-title {
  margin: 1rem 0;
  font-size: 3rem !important;
  font-weight: bold !important;
  text-align: center;
}

.bg-product {
  width: 100%;
  //height: 500px;
  background: center no-repeat url("../images/produitbg.jpg");

  .category-product {
    /* Conteneur principal */
    .overlay-image {
      position: relative;
      width: 250px;
      height: auto;
      //margin: 0 2rem 0 4rem;
      margin: 3rem;
      /* Apparition overlay sur passage souris */
      &:hover .hover {
        opacity: 1;
      }

      .overlay-image:hover .normal {
        opacity: 0;
      }

      /* Overlay */
      .hover {
        position: absolute;
        top: 0;
        height: 250px;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(242, 153, 74, 0.5);
      }

      /* Image originale */
      .image {
        height: auto;
      }

      /* Texte original */
      .normal .text {
        color: #fff;
        font-size: 30px;
        line-height: 1.5em;
        text-shadow: 2px 2px 2px #000;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }

      /********* Hover background et texte uniquement *******/
      .normal {
        transition: .5s ease;
      }
    }
  }

  .product-btn {
    margin-top: 1em;

    img {
      width: 250px;
    }
  }
}

@media screen and (max-width: 1057px) {
  .bg-product {
    .category-product .overlay-image {
      //margin: 0;

      .image {
        width: 95%;
        margin-top: 5px;
      }

      .normal .text {
        font-size: 20px;
      }

      .normal .hover {
        max-width: 95%;
        height: 99%;
      }
    }

    .product-btn img {
      width: 200px;
    }
  }
}

@media screen and (max-width: 750px) {
  .bg-product {
    .category-product .overlay-image {
      .image {
        width: 80%;
      }

      .normal .hover {
        max-width: 80%;
      }
    }

    .product-btn img {
      width: 150px;
    }
  }
}

@media screen and (max-width: 500px) {
  .bg-product {
    background: none;

    .category-product {
      margin-top: 9em;
      width: 80%;

      .overlay-image {
        margin: 10px 0 0 0;
        width: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .image {
          width: 90%;
        }

        .normal .hover {
          max-width: 90%;
        }
      }
    }

    .product-btn img {
      width: 150px;
    }
  }
}

//---------------------------------

.how-content {
  width: 80%;
  margin: auto;
  display: grid;

  h2 {
    margin-bottom: 1em;
    font-size: 3rem;
    text-align: center;
  }

  h6 {
    font-size: 20px;
    font-family: Calibri, sans-serif !important;
    text-decoration: none;
    margin: 10px 0 5px 0;
    color: $text-nav;
  }

  p {
    color: $text-nav;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 150px;
    height: 120px;
  }

  .how {
    height: auto;

    .reserve, .receive, .recover {
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      width: 50%;
      height: 50vh;
      margin-right: 30px;
    }

  }

  .order-btn {
    margin: 1em auto;

    img {
      width: 350px;
      height: auto;
    }
  }
}

@media screen and (max-width: 1115px) {
  .how-content {
    h2 {
      margin-bottom: 0;
    }

    .how {
      height: 500px;
    }
  }
}

@media screen and (max-width: 840px) {
  .how-content .how {
    height: 600px;
  }
}

@media screen and (max-width: 600px) {
  .how-content {
    h2 {
      margin: 2em 0;
    }
    .how {
      flex-wrap: wrap;
      height: auto;

      .reserve, .receive, .recover {
        height: auto;
        width: 90%;
        margin-bottom: 1em;
      }
    }

    .order-btn img {
      width: 200px;
    }
  }
}