@import "variable";

header {
  background-color: rgba(234,236,234,.5);
  padding: 15px 15px 10px 20px;
  .logo {
    width: 100px;
    margin-left: 30px;
  }

  nav {
    margin-right: 30px;
    li, a {
      font-weight: 500;
      font-size: 18px;
      color: $text-nav!important;
      img.facebook{
          width: 14px;
      }
      img.search{
        width: 20px;
      }
      img.panier{
        width: 30px;
      }
    }

    .nav-links {
      li {
        display: inline-block;
        padding: 0px 20px;
        a {
          transition: all 0.3s ease 0s;
          text-decoration: none;
          &:hover {
            color: $clickable !important;
            text-decoration:  underline;
          }
        }
      }
    }
  }
}
