@import "variable";
@import "register";
@import "articleCard";
@import "nav";
@import "pagination";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #FCFBF9;
}