@import "variable";
@import "default";
@import "register";
@import "font";
@import "articleCard";
@import "nav";
@import "pagination";

h1, h2, h3, h4, h5, h6 {
  color: $title;
  text-decoration: underline;
}

button:hover, a:hover {
  color: $clickable;
}